:root {
--black: #000000;
--light-black:#161616;
--p: 30px;
--orange: #F6AD09;
--white: #FFFFFF;
--gray: #D4D4D4;
--light-gray: #E0E0E0;
--darck-gray: #2E2E2E;
}

body{
    background-color: var(--white);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    max-width: 1400px;
}

.header{
    background-color: var(--black);
    position: relative;
}

.header_first_row{
    color: var(--white);
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: -10px;
}

.header_menu{
    display: flex;
    justify-content:space-between;
    font-size: 18px;
    width: 300px;
}

ul{
    list-style: none;
}

.about_container{
    width: 1200px;
    color: var(--white);
    background-color: var(--black);
    display: flex;
    margin-left: 100px;
    padding-bottom: 40px;
}

.heder_about{
    width: 517px;
    margin-top: 250px;
    margin-right: 50px;

}

.about_text_name{
    font-size: 64px;
    line-height: 55px;
    width: 524px;
    color: var(--white);
}

h4{
    font-size: 64px;
    line-height: 55px;
    width: 524px;
    color: var(--white);
    margin-bottom: 50px;
}

.about_text{
    font-size: 24px;
    color: var(--gray);
    margin-top: 20px;
    
}

.selecoine_button{
    background-color: var(--orange);
    width: 220px;
    height:60px;
    box-sizing: border-box;
    border-radius: 5px;
    color:var(--black);
    text-align: center;
    padding-top: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.header_img{
    position: absolute;
    right: 70px
}

h3{
    font-size: 64px;
    margin-left: 100px;
    margin-top: 120px;
}

.сhoice_container{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 80px;
}


.bike_img{
    width: 460px;
}

.bike_name{
    font-size: 32px;
    font-weight: bold;
}

.bike_price{
    font-size: 18px;
}


.technologies_img{
    position: absolute;
    left: 650px;
}

.choose_model{
    font-size: 24px;
    font-weight: bold;
    border-bottom: var(--orange), solid, 4px;
    color:var(--orange);
    margin-top: 40px;
       
}


.technologies_container{
    background-color: var(--black);
    padding-left: 100px;
    padding-top: 100px;
    position: relative;
    margin-top: 200px;
}

.technologies_text{
    font-size: 24px;
    color: var(--gray);
    margin-top: 20px;
    width: 517px;
}

.bike_type {
    display: flex;
    width: 517px;
    margin-top: 50px;
    color: var(--gray);
    font-size: 16px;
    padding-bottom: 50px;

}


.type {
    font-weight: bold;
    color: var(--white);
    font-size: 24px;

    
}








.technologies_img {
    position: absolute;
    left: 650px;
    top: -50px;
}

.manufacturers_container{
    width:96%;    
    margin-left: auto;
    margin-right: auto;
}


.second_try{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.manufacturers_logo {
    border-color: var(--gray);
    margin-top: 20px;
    border-style: solid;
    box-sizing: border-box;
    height: 135px;
    width: 320px;
    text-align: center;
    padding-top: 46px;
    border-width: 3px;
}

.response_container{
    display: flex;
    margin-top: 40px;

}

.response_img{
    width: 780px;
}

.response_text_container{
    background-color: var(--orange);
    width:822px;
    height: 680px;
    position: relative;
}

.response_text{
    position: absolute;
    width: 510px;
    height: 240px;
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #332200;
    top: 300px;
    left:50px;
}

.opening_bracket {
    position: absolute;
    width: 40px;
    height: 35px;
    left: 15px;
    top: 295px;
}

.closing_bracket{
    position: absolute;
    width: 40px;
    height: 35px;
    left: 480px;
    top: 520px;
}

.response_sign {
    position: absolute;
    width: 115px;
    height: 32px;
    left: 50px;
    top: 560px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.garanty_container{
    background-color: var(--light-black);
    color: var(--light-gray);
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.granty_menu{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    box-sizing: border-box;
    width: 900px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;

}

.PRATA_container{
    display: flex;
    justify-content: space-around;
    font-size: 36px;
    background-color: var(--black);
    width: 456px;
    margin-right: 30px;
    align-items: center;
}


.OURO_container{
    justify-content: space-around;
    display: flex;
    font-size: 36px;
    background-color: var(--black);
    width: 456px;
    color: var(--orange);
    padding-bottom: 20px;
    
}

.subscribe_button{
    box-sizing: border-box;
    width: 177px;
    height: 53px;
    background-color: var(--darck-gray);
    font-size: 18px;
    border-radius: 5px;
    padding-top: 12px;
    text-align: center;
    
}

.subscribe_button:hover{
    background-color: var(--orange);
    color: var(--white)
}

.garanty_list{
    font-size: 18px;
    color: var(--white);
    list-style: url(../img/Rectangle_4.png);
    
}

.mensal{
    font-size: 12px;
    color: var(--gray);
}


.sum{
    color: var(--white);
}

.footer_container{
    display:flex;
    justify-content: space-around;
    background-color: var(--black);
    color: var(--white);
    font-size: 24px;
    padding-top: 50px;
}

.contact_info{
    font-size: 18px;
    color: var(--gray);

}

.adres_data{
    padding-top: 40px;
}

.footer_info{
    font-size: 18px;
    color: var(--gray);
}

.footer_info :hover{
    color: var(--orange);
}

a:link {
    color: var(--gray);
    text-decoration: none;
}

a:visited {
    color: var(--orange);
    text-decoration: none;
}

.social_media{
    display: flex;
    position:relative;
    padding-bottom: 40px;    
}

.social_media_info{
    margin-right: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
}

